<div th:fragment="serviceDoc (doc)">
    <a th:if="${doc.isDoc}" class="file" th:module="${doc.children[0].name}"
       th:href="'docs/' + ${doc.path}" th:text="${doc.name}"></a>
    <a th:if="${not doc.isDoc}" class="directory" th:href="'docs/' + ${doc.path}" th:text="${doc.name}"></a>

    <ol th:if="${not doc.isDoc and not #lists.isEmpty(doc.children)}">
        <li th:each="child : ${doc.children}">
            <div th:replace=":: serviceDoc(doc=${child})"></div>
        </li>
    </ol>
</div>